@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  width: 500px;
  height: 350px;
  font-family: 'Karla', sans-serif !important;
}

.ui {
  font-family: 'Karla', sans-serif !important;
}

#root {
  height: 100%;
  font-family: 'Karla', sans-serif !important;
}

body {
  width: 500px;
  height: 350px;
  margin: 0;
  font-family: 'Karla', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
